.wrapperSearch {
    background-color: white;
    height: 100%;
    color: black;
    padding: 0 10px 0 10px;
    overflow: auto;
}

.wrapperOneSearch {
    border: 2px dotted grey;
    margin-top: 10px;
    padding: 10px;
}

.wrapperSearch h2 {
    color: #333;
    font-size: 14px;
}

.wrapperSearch input[type="text"] {
    border: 1px solid #d5d9e0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
    padding: 10px;
    max-width: 400px;
    width: 100%;
  }

.wrapperSearch input[type="text"]:focus {
    border-color: #ffa000;
    outline: none;
}
